html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; outline: none;}
body {font-family: 'Lato', Arial, helvetica, sans-serif; color: white; font-weight: 300; background: #000; text-align: center;}
article, header, nav, section, footer {display: block;}
ul {list-style: none; font-size: 18px;}
img {border: 0; width: 90%; max-width: 1000px; padding: 0 5%;}
a, a:visited {text-decoration: none; color: #1abc9c;}
a:hover {color:#666;}
h1 {font-size: 42px; line-height: 52px; padding: 10px 0; text-transform: uppercase; font-weight: 300;}
h2 {font-size: 22px; line-height: 26px;}
h3 {font-size: 28px; line-height: 38px; padding: 30px 0 10px 0; font-weight: 300;}
p {max-width: 460px; font-size: 18px; line-height: 26px; margin: 10px auto 16px auto;}
.wrap {max-width: 2000px; margin: 0 auto; padding: 0; background-repeat:no-repeat; background-position: left top; background-size: cover;}
article {padding: 60px 20px 40px 20px; background: rgba(64,64,64,0.8) url(../images/jolla-glass_pattern.png);}
header {margin: 0 0 40px 0;}
@media (min-width: 0px) {
.wrap {background-image: url(../images/oma.jpg);}
}
@media (min-width: 400px) {
.wrap {background-image: url(../images/oma.jpg);}
}
@media (min-width: 801px) {
.wrap {background-image: url(../images/oma.jpg);}
article {max-width: 600px;}
}
@media (min-width: 1281px) {
.wrap {background-image: url(../images/oma.jpg);}
}
@media (min-width: 1601px) {
.wrap {background-image: url(../images/oma.jpg);}
article {max-width: 700px;}
}