ul {
	list-style: none;
}
table, td, th { 
	padding: 1px 10px;
}

/*@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');*/

body {
	background: url('../img/seasky_medium.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
  	/*font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;*/
}

a:link, a:visited {
	color:#eee;
	text-decoration:underline;
}

input, select, textarea{
    color: #fff;
}

.block {
	background-color:rgba(0,0,0,0.2);
    /*height:370px;*/
   	height:460px;
  	padding-left:12px;
  	padding-right:12px;
  	/*color: black;*/
}

.block-sm {
    height:180px;
}

.block-jumbotron {
	background-color:rgba(0,0,0,0.2);
  	padding-left:12px;
  	padding-right:12px;
}


.btn-flat {
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
	border-radius:0px;
  	border-width:0;
  	background-image:none;
  	padding:16px;
  	margin:0 auto;
  	margin-top:15px;
  	width:70%;
    font-size:20pt;
}

/* mini carousel */
.carousel-inner img {
	width:100%;
  	height:100%;
}

#myCarousel {
	font-size:90%;
}

.carousel-controls-mini {
	margin-left:42%;
}

.carousel-controls-mini > a {
	border:1px solid #eee;
  	margin:1px;
  	width:20px;
    display:block;
  	float:left;
    text-align:center;
}

#carousel-bounding-box {
  margin:0 auto;
  width:300px;
}



