/*
.nvd3.nv-lineChart .nv-x.nv-axis line {
  stroke: none;
  fill: none;
}
*/
.tick line {
  opacity: 0 !important;
}

.nv-y text{ 
	display: none; 
}
/*
.lines2Wrap .nv-series-0 {
	display: none;
}

.y2.axis text {
	display: none;
}
*/

.container-liquid {
  padding: 0 15px;
  margin: 0 auto;
}

.map-block {
	background-color:black; /*background-color:rgba(0,0,0,0.2);*/
}

#map { 
	height: 480px; 
}

ul {
	list-style: none;
}
table { 
	padding: 1px 10px;
	margin-left:auto; 
    margin-right:auto;
}
td, th { 
	padding: 1px 10px;
}
